{% extends "base.html" %}
{% block title %}Category List{% endblock title %}
{% block content %}
  <h1>Category List</h1>
  <a href="{% url 'category-create' %}" class="btn btn-primary">Create New Category</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category.name }}</td>
        <td>
          <a href="{% url 'category-update' category.pk %}" class="btn btn-warning btn-sm">Edit</a>
          <a href="{% url 'category-delete' category.pk %}" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
